
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors" />
    <meta name="generator" content="Jekyll v4.0.1" />
    <title>INTA Yazılım Yönetim Paneli</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;1,500&display=swap" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/bbbccbdb78.js" crossorigin="anonymous"></script>

    <!-- Bootstrap core CSS -->

    <style>
        body {
            text-align: center;
            font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
            color: #064487;
        }

        .message {
            margin: 50px 0 20px 0;
            font-size: 26px;
        }

        .anasayfa {
            font-size: 16px;
        }

            .anasayfa a {
                text-decoration: none;
                color: #064487
            }

                .anasayfa a:hover {
                    text-decoration: underline;
                }
    </style>
</head>
<body>
    <div class="message">
        <i class="far fa-times-circle" style="font-size:50px; margin: 0 0 15px 0"></i> 
        <br />Üzgünüz aradığınız sayfaya erişim yetkiniz yok ! :(
    </div>
    <div class="anasayfa">
        Anasayfaya dönmek için <a href="~/Admin">tıklayınız</a>
    </div>

</body>
</html>