@model List<SystemMenuDto>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ModuleName = "Anasayfa";
    ViewBag.PageName = "Menüler";
}

<div class="dashboard">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <a href="@item.Link" class="item">
                    <span class="icon">
                        <i class="@item.MenuIcon" style="font-size: 20px;" aria-hidden="true"></i>
                    </span>
                    <span class="text">
                        @item.Name.ToUpper()
                    </span>
                </a>
            </div>
        }

    </div>
</div>


@section scripts{
}
