USE [master]
GO
/****** Object:  Database [IntaKurumsal]    Script Date: 29/12/2022 22:40:39 ******/
CREATE DATABASE [IntaKurumsal]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'IntaKurumsal', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\IntaKurumsal.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'IntaKurumsal_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\IntaKurumsal_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IntaKurumsal].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [IntaKurumsal]
GO
/****** Object:  Table [dbo].[Banner]    Script Date: 29/12/2022 22:40:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banner](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SystemUserId] [int] NULL,
	[LanguageId] [int] NULL,
	[BannerTypeId] [int] NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Link] [nvarchar](50) NULL,
	[Target] [nvarchar](20) NULL,
	[ShortExplanation] [nvarchar](max) NULL,
	[OrderNumber] [int] NOT NULL,
	[TargetId] [int] NULL,
	[Image] [varchar](max) NULL,
	[RecordDate] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Price] [decimal](9, 3) NULL,
 CONSTRAINT [PK_Banner] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BannerType]    Script Date: 29/12/2022 22:40:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BannerType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SystemUserId] [int] NULL,
	[LanguageId] [int] NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[SmallImageWidth] [int] NULL,
	[BigImageWidth] [int] NULL,
	[RecordDate] [datetime] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_BannerType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 29/12/2022 22:40:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SystemUserId] [int] NULL,
	[LanguageId] [int] NULL,
	[PageTypeId] [int] NULL,
	[CategoryId] [int] NULL,
	[FormGroupId] [int] NULL,
	[Code] [nvarchar](50) NULL,
	[Name] [nvarchar](50) NULL,
	[CategoryUrl] [nvarchar](255) NULL,
	[Title] [nvarchar](max) NULL,
	[MetaDecription] [nvarchar](max) NULL,
	[MetaKeywords] [nvarchar](max) NULL,
	[ShortExplanation] [nvarchar](max) NULL,
	[CanBeDeleted] [bit] NULL,
	[CanSubCategoryBeAdded] [bit] NULL,
	[Image] [nvarchar](max) NULL,
	[ImageTag] [nvarchar](max) NULL,
	[ImageTitle] [nvarchar](max) NULL,
	[Explanation] [nvarchar](max) NULL,
	[OrderNumber] [int] NULL,
	[RecordDate] [datetime] NULL,
	[IsActive] [bit] NULL,
	[CategoryLink] [nvarchar](500) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategorySpecialty]    Script Date: 29/12/2022 22:40:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategorySpecialty](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SystemUserId] [int] NULL,
	[LanguageId] [int] NULL,
	[CategoryId] [int] NULL,
	[SpecialtyTypeId] [int] NULL,
	[Name] [nvarchar](50) NOT NULL,
	[ShortExplanation] [nvarchar](50) NULL,
	[Explanation] [nvarchar](max) NULL,
	[FileName] [nvarchar](max) NULL,
	[FileTagName] [nvarchar](max) NULL,
	[FileTitleName] [nvarchar](max) NULL,
	[TargetType] [nvarchar](50) NULL,
	[HomePageStatus] [bit] NULL,
	[OrderNumber] [int] NULL,
	[RecordDate] [datetime] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_CategorySpecialty] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContactInformation]    Script Date: 29/12/2022 22:40:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactInformation](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SystemUserId] [int] NULL,
	[LanguageId] [int] NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[Gsm] [nvarchar](50) NULL,
	[Fax] [nvarchar](50) NULL,
	[Adress] [nvarchar](50) NULL,
	[Explanation] [nvarchar](max) NULL,
	[GoogleMapFrame] [nvarchar](max) NULL,
	[GoogleMapLink] [nvarchar](max) NULL,
	[GoogleMapX] [nvarchar](50) NULL,
	[GoogleMapY] [nvarchar](50) NULL,
	[Image] [nvarchar](100) NULL,
	[QrCode] [nvarchar](50) NULL,
	[FormSendEmail] [nvarchar](50) NULL,
	[OrderNumber] [int] NOT NULL,
	[RecordDate] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_ContactInformation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EditorTemplate]    Script Date: 29/12/2022 22:40:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EditorTemplate](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SystemUserId] [int] NULL,
	[LanguageId] [int] NULL,
	[Name] [nvarchar](50) NOT NULL,
	[HtmlContent] [nvarchar](max) NULL,
	[Image] [nvarchar](50) NULL,
	[OrderNumber] [int] NOT NULL,
	[RecordDate] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_EditorTemplate] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FirmVariables]    Script Date: 29/12/2022 22:40:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FirmVariables](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LanguageId] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Value] [nvarchar](50) NULL,
	[Description] [nvarchar](255) NULL,
	[OrderNumber] [int] NOT NULL,
	[RecordDate] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_FirmVariables] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FormElement]    Script Date: 29/12/2022 22:40:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FormElement](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryId] [int] NULL,
	[SystemUserId] [int] NOT NULL,
	[LanguageId] [int] NOT NULL,
	[FormGroupId] [int] NULL,
	[FormTypeId] [int] NULL,
	[ElementTypeId] [int] NULL,
	[Name] [nvarchar](50) NOT NULL,
	[IsRequired] [bit] NULL,
	[ValidationMessage] [nvarchar](max) NULL,
	[AllowNulls] [bit] NULL,
	[OrderNumber] [int] NOT NULL,
	[RecordDate] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_FormElement] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FormElementOptions]    Script Date: 29/12/2022 22:40:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FormElementOptions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SystemUserId] [int] NULL,
	[LanguageId] [int] NULL,
	[FormElementId] [int] NULL,
	[Name] [nvarchar](50) NULL,
	[Value] [nvarchar](50) NULL,
	[IsSelected] [bit] NULL,
	[OrderNumber] [int] NOT NULL,
	[RecordDate] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_FormOptions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FormGroup]    Script Date: 29/12/2022 22:40:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FormGroup](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SystemUserId] [int] NULL,
	[LanguageId] [int] NULL,
	[Name] [nvarchar](50) NULL,
	[Explanation] [nvarchar](500) NULL,
	[OrderNumber] [int] NULL,
	[RecordDate] [date] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_FormGroup] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FormType]    Script Date: 29/12/2022 22:40:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FormType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SystemUserId] [int] NOT NULL,
	[LanguageId] [int] NOT NULL,
	[CategoryId] [int] NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](50) NULL,
	[OrderNumber] [int] NOT NULL,
	[RecordDate] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_FormType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GeneralSettings]    Script Date: 29/12/2022 22:40:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GeneralSettings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LanguageId] [int] NULL,
	[SystemUserId] [int] NULL,
	[EmailIpAdress] [nvarchar](100) NULL,
	[EmailAdress] [nvarchar](100) NULL,
	[EmailPort] [int] NULL,
	[EmailPassword] [nvarchar](50) NULL,
	[DomainName] [nvarchar](50) NULL,
	[CdnUrl] [nvarchar](50) NULL,
	[ImageUploadPath] [nvarchar](100) NULL,
	[FileUploadPath] [nvarchar](100) NULL,
	[DeveloperName] [nvarchar](100) NULL,
	[DeveloperEmail] [nvarchar](100) NULL,
	[CategoryImageSmallWidth] [int] NULL,
	[CategoryImageSmallHeight] [int] NULL,
	[CategoryImageBigWidth] [int] NULL,
	[CategoryImageBigHeight] [int] NULL,
	[ContentImageSmallWidth] [int] NULL,
	[ContentImageSmallHeight] [int] NULL,
	[ContentImageBigWidth] [int] NULL,
	[ContentImageBigHeight] [int] NULL,
 CONSTRAINT [PK_GeneralSettings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Language]    Script Date: 29/12/2022 22:40:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Language](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](10) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](50) NULL,
	[OrderNumber] [int] NOT NULL,
	[RecordDate] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Language] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LogMessage]    Script Date: 29/12/2022 22:40:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogMessage](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Message] [nvarchar](50) NULL,
	[Source] [nvarchar](max) NULL,
	[ErrorMessage] [nvarchar](max) NULL,
	[InnerException] [nvarchar](max) NULL,
	[StackTrace] [nvarchar](max) NULL,
	[ObjectSource] [nvarchar](max) NULL,
	[RecordDate] [datetime] NULL,
 CONSTRAINT [PK_LogMessage] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MessageHistory]    Script Date: 29/12/2022 22:40:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MessageHistory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LanguageId] [int] NULL,
	[MessageTypeId] [int] NULL,
	[ClientName] [nvarchar](50) NULL,
	[ClientSurname] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[Subject] [nvarchar](500) NULL,
	[Explanation] [nvarchar](max) NULL,
	[IsArchive] [bit] NULL,
	[IsRead] [bit] NULL,
	[ArchiveDate] [datetime] NULL,
	[IpNumber] [nvarchar](50) NULL,
	[RecordDate] [datetime] NULL,
 CONSTRAINT [PK_MessageHistory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MessageType]    Script Date: 29/12/2022 22:40:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MessageType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SystemUserId] [int] NULL,
	[LanguageCode] [nvarchar](10) NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[RecordDate] [datetime] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_MessageType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PageType]    Script Date: 29/12/2022 22:40:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PageType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SystemUserId] [int] NULL,
	[Code] [nvarchar](10) NULL,
	[Name] [nvarchar](500) NULL,
	[ControllerName] [nvarchar](500) NULL,
	[ActionName] [nvarchar](500) NULL,
	[ViewName] [nvarchar](500) NULL,
	[IsExplanationEnabled] [bit] NULL,
	[IsShortExplanationEnabled] [bit] NULL,
	[CanContentBeAdded] [bit] NULL,
	[IsMenuFirstRecord] [bit] NULL,
	[IsMenuFirstCategory] [bit] NULL,
	[IsPagingEnabled] [bit] NULL,
	[RecordDate] [datetime] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_PageType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Record]    Script Date: 29/12/2022 22:40:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Record](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SystemUserId] [int] NULL,
	[LanguageId] [int] NULL,
	[CategoryId] [int] NULL,
	[Name] [nvarchar](50) NULL,
	[RecordUrl] [nvarchar](255) NULL,
	[Title] [nvarchar](50) NULL,
	[MetaDescription] [nvarchar](max) NULL,
	[MetaKeywords] [nvarchar](max) NULL,
	[Url] [nvarchar](max) NULL,
	[ShortContent] [nvarchar](max) NULL,
	[Link] [nvarchar](max) NULL,
	[TargetType] [int] NULL,
	[ShortExplanation] [nvarchar](max) NULL,
	[Explanation] [nvarchar](max) NULL,
	[Image] [varchar](255) NULL,
	[OrderNumber] [int] NULL,
	[RecordDate] [datetime] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_Content] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RecordFile]    Script Date: 29/12/2022 22:40:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecordFile](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SystemUserId] [int] NULL,
	[LanguageId] [int] NULL,
	[RecordId] [int] NULL,
	[Name] [nvarchar](255) NULL,
	[ShortExplanation] [nvarchar](max) NULL,
	[Explanation] [nvarchar](max) NULL,
	[FileName] [varchar](255) NULL,
	[FileTagName] [nvarchar](max) NULL,
	[FileTitleName] [nvarchar](max) NULL,
	[TargetId] [int] NULL,
	[HomePageStatus] [bit] NULL,
	[OrderNumber] [int] NULL,
	[RecordDate] [datetime] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_ContentFile] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RecordImage]    Script Date: 29/12/2022 22:40:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecordImage](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SystemUserId] [int] NULL,
	[LanguageId] [int] NULL,
	[RecordId] [int] NULL,
	[Name] [nvarchar](255) NULL,
	[ShortExplanation] [nvarchar](max) NULL,
	[Explanation] [nvarchar](max) NULL,
	[ImageName] [nvarchar](max) NULL,
	[ImageTagName] [nvarchar](max) NULL,
	[ImageTitleName] [nvarchar](max) NULL,
	[TargetId] [int] NULL,
	[HomePageStatus] [bit] NULL,
	[OrderNumber] [int] NULL,
	[RecordDate] [datetime] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_ContentImage] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RecordSpecialty]    Script Date: 29/12/2022 22:40:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecordSpecialty](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SystemUserId] [int] NULL,
	[LanguageId] [int] NULL,
	[CategoryId] [int] NULL,
	[SpecialtyTypeId] [int] NULL,
	[Name] [nvarchar](50) NOT NULL,
	[ShortExplanation] [nvarchar](max) NULL,
	[Explanation] [nvarchar](max) NULL,
	[FileName] [nvarchar](max) NULL,
	[FileTagName] [nvarchar](max) NULL,
	[FileTitleName] [nvarchar](max) NULL,
	[TargetType] [nvarchar](50) NULL,
	[HomePageStatus] [bit] NULL,
	[OrderNumber] [int] NOT NULL,
	[RecordDate] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_ContentSpecialty] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEOIndex]    Script Date: 29/12/2022 22:40:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEOIndex](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SystemUserId] [int] NULL,
	[LanguageId] [nvarchar](10) NULL,
	[Url] [nvarchar](max) NULL,
	[RedirectUrl] [nvarchar](max) NULL,
	[RecordDate] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_SEOIndex] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SpecialtyType]    Script Date: 29/12/2022 22:40:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpecialtyType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_SpecialtyType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StaticText]    Script Date: 29/12/2022 22:40:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StaticText](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SystemUserId] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Explanation] [nvarchar](max) NULL,
	[OrderNumber] [int] NULL,
	[RecordDate] [datetime] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_StaticText] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemAction]    Script Date: 29/12/2022 22:40:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemAction](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SystemMenuId] [int] NULL,
	[ControllerName] [nvarchar](255) NULL,
	[ActionName] [nvarchar](255) NULL,
	[Description] [nvarchar](255) NULL,
 CONSTRAINT [PK_SystemAction] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemActionRole]    Script Date: 29/12/2022 22:40:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemActionRole](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SystemActionId] [int] NULL,
	[SystemRoleId] [int] NULL,
 CONSTRAINT [PK_SystemActionRole] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemMenu]    Script Date: 29/12/2022 22:40:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemMenu](
	[Id] [int] NOT NULL,
	[SystemMenuId] [int] NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Explanation] [nvarchar](max) NULL,
	[ControllerName] [nvarchar](50) NULL,
	[ActionName] [nvarchar](50) NULL,
	[RecordDate] [datetime] NULL,
	[MenuIcon] [nvarchar](50) NULL,
	[Link] [nvarchar](500) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_SystemMenu] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemMenuRole]    Script Date: 29/12/2022 22:40:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemMenuRole](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SystemRoleId] [int] NULL,
	[SystemMenuId] [int] NULL,
	[RecordDate] [datetime] NULL,
 CONSTRAINT [PK_SystemMenuRole] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemRole]    Script Date: 29/12/2022 22:40:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemRole](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Explanation] [nvarchar](max) NULL,
	[RecordDate] [datetime] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_SystemRole] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemUser]    Script Date: 29/12/2022 22:40:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemUser](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SystemUserId] [int] NULL,
	[SystemRoleId] [int] NULL,
	[Name] [nvarchar](50) NOT NULL,
	[SurName] [nvarchar](50) NULL,
	[UserName] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[Address] [nvarchar](max) NULL,
	[RecordDate] [datetime] NULL,
	[IsActive] [bit] NULL,
	[IsAdmin] [bit] NULL,
 CONSTRAINT [PK_SystemUser] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemUserRole]    Script Date: 29/12/2022 22:40:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemUserRole](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SystemRoleId] [int] NULL,
	[SystemUserId] [int] NULL,
	[RecordDate] [datetime] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_SystemUserRole] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Banner] ON 

INSERT [dbo].[Banner] ([Id], [SystemUserId], [LanguageId], [BannerTypeId], [Name], [Link], [Target], [ShortExplanation], [OrderNumber], [TargetId], [Image], [RecordDate], [IsActive], [Price]) VALUES (62362, NULL, 4, 2018, N'62362', N'1', N'1', N'1', 1, 1, N'1', CAST(N'2022-06-07T10:26:52.207' AS DateTime), 1, CAST(500.000 AS Decimal(9, 3)))
INSERT [dbo].[Banner] ([Id], [SystemUserId], [LanguageId], [BannerTypeId], [Name], [Link], [Target], [ShortExplanation], [OrderNumber], [TargetId], [Image], [RecordDate], [IsActive], [Price]) VALUES (62363, 1, 4, 2015, N'62363', N'1', N'1', N'1', 1, 1, N'1', CAST(N'2022-06-07T10:26:52.207' AS DateTime), 1, CAST(500.000 AS Decimal(9, 3)))
INSERT [dbo].[Banner] ([Id], [SystemUserId], [LanguageId], [BannerTypeId], [Name], [Link], [Target], [ShortExplanation], [OrderNumber], [TargetId], [Image], [RecordDate], [IsActive], [Price]) VALUES (62364, 1, 4, 2015, N'62364', N'1', N'1', N'1', 1, 1, N'1', CAST(N'2022-06-07T10:26:52.207' AS DateTime), 1, CAST(500.000 AS Decimal(9, 3)))
SET IDENTITY_INSERT [dbo].[Banner] OFF
GO
SET IDENTITY_INSERT [dbo].[BannerType] ON 

INSERT [dbo].[BannerType] ([Id], [SystemUserId], [LanguageId], [Name], [Description], [SmallImageWidth], [BigImageWidth], [RecordDate], [IsActive]) VALUES (2015, 1, 1, N'Anasayfa Banner', NULL, 100, 100, NULL, NULL)
INSERT [dbo].[BannerType] ([Id], [SystemUserId], [LanguageId], [Name], [Description], [SmallImageWidth], [BigImageWidth], [RecordDate], [IsActive]) VALUES (2016, 1, 1, N'Ana sayfa sol banner', NULL, 100, 100, NULL, NULL)
INSERT [dbo].[BannerType] ([Id], [SystemUserId], [LanguageId], [Name], [Description], [SmallImageWidth], [BigImageWidth], [RecordDate], [IsActive]) VALUES (2017, 1, 1, N'Sol Menü Reklam', NULL, 100, 100, NULL, NULL)
SET IDENTITY_INSERT [dbo].[BannerType] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([Id], [SystemUserId], [LanguageId], [PageTypeId], [CategoryId], [FormGroupId], [Code], [Name], [CategoryUrl], [Title], [MetaDecription], [MetaKeywords], [ShortExplanation], [CanBeDeleted], [CanSubCategoryBeAdded], [Image], [ImageTag], [ImageTitle], [Explanation], [OrderNumber], [RecordDate], [IsActive], [CategoryLink]) VALUES (6029, 1, 1, 2, 0, NULL, NULL, N'Anasayfa', N'anasayfa', NULL, NULL, NULL, NULL, 1, 1, NULL, NULL, NULL, NULL, 0, NULL, 1, NULL)
INSERT [dbo].[Category] ([Id], [SystemUserId], [LanguageId], [PageTypeId], [CategoryId], [FormGroupId], [Code], [Name], [CategoryUrl], [Title], [MetaDecription], [MetaKeywords], [ShortExplanation], [CanBeDeleted], [CanSubCategoryBeAdded], [Image], [ImageTag], [ImageTitle], [Explanation], [OrderNumber], [RecordDate], [IsActive], [CategoryLink]) VALUES (6030, NULL, 5, 2, 0, NULL, NULL, N'Home', N'home', NULL, NULL, NULL, NULL, 1, 1, NULL, NULL, NULL, NULL, 0, NULL, 1, NULL)
INSERT [dbo].[Category] ([Id], [SystemUserId], [LanguageId], [PageTypeId], [CategoryId], [FormGroupId], [Code], [Name], [CategoryUrl], [Title], [MetaDecription], [MetaKeywords], [ShortExplanation], [CanBeDeleted], [CanSubCategoryBeAdded], [Image], [ImageTag], [ImageTitle], [Explanation], [OrderNumber], [RecordDate], [IsActive], [CategoryLink]) VALUES (6031, 1, 5, 2, 0, NULL, NULL, N'Products', N'products', NULL, NULL, NULL, NULL, 1, 1, NULL, NULL, NULL, NULL, 0, NULL, 1, NULL)
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[ContactInformation] ON 

INSERT [dbo].[ContactInformation] ([Id], [SystemUserId], [LanguageId], [Name], [Email], [Phone], [Gsm], [Fax], [Adress], [Explanation], [GoogleMapFrame], [GoogleMapLink], [GoogleMapX], [GoogleMapY], [Image], [QrCode], [FormSendEmail], [OrderNumber], [RecordDate], [IsActive]) VALUES (4010, 1, 1, N'İletişim Bilgilerimiz', N'email', N'telefon', NULL, NULL, N'adres', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 0, CAST(N'2022-04-18T17:02:08.670' AS DateTime), 0)
INSERT [dbo].[ContactInformation] ([Id], [SystemUserId], [LanguageId], [Name], [Email], [Phone], [Gsm], [Fax], [Adress], [Explanation], [GoogleMapFrame], [GoogleMapLink], [GoogleMapX], [GoogleMapY], [Image], [QrCode], [FormSendEmail], [OrderNumber], [RecordDate], [IsActive]) VALUES (4011, NULL, 4, N'1', N'1', N'1', N'1', N'1', N'1', N'11', N'1', NULL, NULL, NULL, N'c-to-c-rest-vs-grpc-5477103c-d85d-413a-9a6b-aa2a7970cd37.jpg', NULL, NULL, 0, CAST(N'2022-04-25T15:03:53.000' AS DateTime), 0)
INSERT [dbo].[ContactInformation] ([Id], [SystemUserId], [LanguageId], [Name], [Email], [Phone], [Gsm], [Fax], [Adress], [Explanation], [GoogleMapFrame], [GoogleMapLink], [GoogleMapX], [GoogleMapY], [Image], [QrCode], [FormSendEmail], [OrderNumber], [RecordDate], [IsActive]) VALUES (4012, NULL, 4, N'6', N'2', N'2', N'2', N'2', N'2', N'2', N'2', NULL, NULL, NULL, N'1-klijp3uwtgae-q9xuc-pva-b9c19df0-9f6c-491f-a1f4-77435428e3de.png', NULL, NULL, 0, CAST(N'2022-04-26T09:28:08.000' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[ContactInformation] OFF
GO
SET IDENTITY_INSERT [dbo].[EditorTemplate] ON 

INSERT [dbo].[EditorTemplate] ([Id], [SystemUserId], [LanguageId], [Name], [HtmlContent], [Image], [OrderNumber], [RecordDate], [IsActive]) VALUES (1, 1, 4, N'Test', NULL, NULL, 0, CAST(N'2021-10-12T18:32:31.457' AS DateTime), 0)
INSERT [dbo].[EditorTemplate] ([Id], [SystemUserId], [LanguageId], [Name], [HtmlContent], [Image], [OrderNumber], [RecordDate], [IsActive]) VALUES (2, NULL, 4, N'Test', N'adsdsddsdsds', NULL, 0, CAST(N'2021-10-12T18:32:48.000' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[EditorTemplate] OFF
GO
SET IDENTITY_INSERT [dbo].[FirmVariables] ON 

INSERT [dbo].[FirmVariables] ([Id], [LanguageId], [Name], [Value], [Description], [OrderNumber], [RecordDate], [IsActive]) VALUES (3, 4, N'CategoryBigImageWidth', NULL, N'500', 0, CAST(N'2021-10-17T21:46:09.043' AS DateTime), 0)
INSERT [dbo].[FirmVariables] ([Id], [LanguageId], [Name], [Value], [Description], [OrderNumber], [RecordDate], [IsActive]) VALUES (4, 4, N'CategorySmallImageWidth', NULL, N'500', 0, CAST(N'2021-10-17T21:46:25.670' AS DateTime), 0)
INSERT [dbo].[FirmVariables] ([Id], [LanguageId], [Name], [Value], [Description], [OrderNumber], [RecordDate], [IsActive]) VALUES (5, 4, N'CategorySmallImageHeight', NULL, N'500', 0, CAST(N'2021-10-17T21:46:58.127' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[FirmVariables] OFF
GO
SET IDENTITY_INSERT [dbo].[FormElement] ON 

INSERT [dbo].[FormElement] ([Id], [CategoryId], [SystemUserId], [LanguageId], [FormGroupId], [FormTypeId], [ElementTypeId], [Name], [IsRequired], [ValidationMessage], [AllowNulls], [OrderNumber], [RecordDate], [IsActive]) VALUES (1, 0, 1, 1, 1, NULL, 1, N'1', NULL, NULL, 1, 0, CAST(N'2021-10-13T19:40:38.120' AS DateTime), 1)
INSERT [dbo].[FormElement] ([Id], [CategoryId], [SystemUserId], [LanguageId], [FormGroupId], [FormTypeId], [ElementTypeId], [Name], [IsRequired], [ValidationMessage], [AllowNulls], [OrderNumber], [RecordDate], [IsActive]) VALUES (2, 0, 1, 1, 3, NULL, 1, N'asasasa', NULL, NULL, 0, 0, CAST(N'2021-10-14T22:00:28.427' AS DateTime), 0)
INSERT [dbo].[FormElement] ([Id], [CategoryId], [SystemUserId], [LanguageId], [FormGroupId], [FormTypeId], [ElementTypeId], [Name], [IsRequired], [ValidationMessage], [AllowNulls], [OrderNumber], [RecordDate], [IsActive]) VALUES (3, 0, 1, 1, 3, NULL, 1, N'asasasa', NULL, NULL, 0, 0, CAST(N'2021-10-14T22:00:28.427' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[FormElement] OFF
GO
SET IDENTITY_INSERT [dbo].[FormElementOptions] ON 

INSERT [dbo].[FormElementOptions] ([Id], [SystemUserId], [LanguageId], [FormElementId], [Name], [Value], [IsSelected], [OrderNumber], [RecordDate], [IsActive]) VALUES (1, 1, 1, 0, N'test', N'test', 1, 0, CAST(N'2021-10-19T15:57:45.987' AS DateTime), 0)
INSERT [dbo].[FormElementOptions] ([Id], [SystemUserId], [LanguageId], [FormElementId], [Name], [Value], [IsSelected], [OrderNumber], [RecordDate], [IsActive]) VALUES (2, 1, 1, 1002, N'test', N'test', 0, 0, CAST(N'2021-10-19T16:00:40.450' AS DateTime), 0)
INSERT [dbo].[FormElementOptions] ([Id], [SystemUserId], [LanguageId], [FormElementId], [Name], [Value], [IsSelected], [OrderNumber], [RecordDate], [IsActive]) VALUES (3, 1, 1, 1002, N'g', N'k', 0, 0, CAST(N'2021-10-24T22:16:00.990' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[FormElementOptions] OFF
GO
SET IDENTITY_INSERT [dbo].[FormGroup] ON 

INSERT [dbo].[FormGroup] ([Id], [SystemUserId], [LanguageId], [Name], [Explanation], [OrderNumber], [RecordDate], [IsActive]) VALUES (1, 1, 1, N'test', N'test', 0, CAST(N'2021-10-14' AS Date), 0)
INSERT [dbo].[FormGroup] ([Id], [SystemUserId], [LanguageId], [Name], [Explanation], [OrderNumber], [RecordDate], [IsActive]) VALUES (2, 1, 1, N'test', N'test', 1, CAST(N'2021-10-14' AS Date), 0)
INSERT [dbo].[FormGroup] ([Id], [SystemUserId], [LanguageId], [Name], [Explanation], [OrderNumber], [RecordDate], [IsActive]) VALUES (3, NULL, NULL, N'testasas', N'testasas', 1, CAST(N'2021-10-14' AS Date), 0)
SET IDENTITY_INSERT [dbo].[FormGroup] OFF
GO
SET IDENTITY_INSERT [dbo].[GeneralSettings] ON 

INSERT [dbo].[GeneralSettings] ([Id], [LanguageId], [SystemUserId], [EmailIpAdress], [EmailAdress], [EmailPort], [EmailPassword], [DomainName], [CdnUrl], [ImageUploadPath], [FileUploadPath], [DeveloperName], [DeveloperEmail], [CategoryImageSmallWidth], [CategoryImageSmallHeight], [CategoryImageBigWidth], [CategoryImageBigHeight], [ContentImageSmallWidth], [ContentImageSmallHeight], [ContentImageBigWidth], [ContentImageBigHeight]) VALUES (8, 5, 1, N'1', N'1', 1, N'1', N'1', N'1', N'1', N'1', N'1', N'11', 1, 1, 11, 1, 1, 1, 11, 1)
SET IDENTITY_INSERT [dbo].[GeneralSettings] OFF
GO
SET IDENTITY_INSERT [dbo].[Language] ON 

INSERT [dbo].[Language] ([Id], [Code], [Name], [Description], [OrderNumber], [RecordDate], [IsActive]) VALUES (4, N'tr', N'Türkçe', NULL, 1, CAST(N'2022-04-21T09:20:46.517' AS DateTime), 1)
INSERT [dbo].[Language] ([Id], [Code], [Name], [Description], [OrderNumber], [RecordDate], [IsActive]) VALUES (5, N'en', N'İngilizce', NULL, 1, CAST(N'2022-04-21T09:20:54.467' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Language] OFF
GO
SET IDENTITY_INSERT [dbo].[MessageHistory] ON 

INSERT [dbo].[MessageHistory] ([Id], [LanguageId], [MessageTypeId], [ClientName], [ClientSurname], [Email], [Phone], [Subject], [Explanation], [IsArchive], [IsRead], [ArchiveDate], [IpNumber], [RecordDate]) VALUES (2, 1, 1, N'1', N'11', N'1', N'1', N'1', N'1', 1, 1, NULL, NULL, CAST(N'2021-10-18T19:17:57.513' AS DateTime))
INSERT [dbo].[MessageHistory] ([Id], [LanguageId], [MessageTypeId], [ClientName], [ClientSurname], [Email], [Phone], [Subject], [Explanation], [IsArchive], [IsRead], [ArchiveDate], [IpNumber], [RecordDate]) VALUES (3, 1, 1, N'1', N'1', N'1', N'1', N'1', N'1', 1, 1, NULL, NULL, CAST(N'2021-10-18T19:27:31.243' AS DateTime))
SET IDENTITY_INSERT [dbo].[MessageHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[PageType] ON 

INSERT [dbo].[PageType] ([Id], [SystemUserId], [Code], [Name], [ControllerName], [ActionName], [ViewName], [IsExplanationEnabled], [IsShortExplanationEnabled], [CanContentBeAdded], [IsMenuFirstRecord], [IsMenuFirstCategory], [IsPagingEnabled], [RecordDate], [IsActive]) VALUES (2, NULL, N'1', N'İçerik listesi sayfası', N'1', N'1', N'1', 1, 0, 1, 0, 0, 0, NULL, 0)
INSERT [dbo].[PageType] ([Id], [SystemUserId], [Code], [Name], [ControllerName], [ActionName], [ViewName], [IsExplanationEnabled], [IsShortExplanationEnabled], [CanContentBeAdded], [IsMenuFirstRecord], [IsMenuFirstCategory], [IsPagingEnabled], [RecordDate], [IsActive]) VALUES (3, NULL, N'CATLIST', N'Kategori Listeleme sayfası', N'Category', N'Index', N'Index', 0, 0, 0, 0, 0, 0, NULL, 0)
SET IDENTITY_INSERT [dbo].[PageType] OFF
GO
SET IDENTITY_INSERT [dbo].[Record] ON 

INSERT [dbo].[Record] ([Id], [SystemUserId], [LanguageId], [CategoryId], [Name], [RecordUrl], [Title], [MetaDescription], [MetaKeywords], [Url], [ShortContent], [Link], [TargetType], [ShortExplanation], [Explanation], [Image], [OrderNumber], [RecordDate], [IsActive]) VALUES (8015, NULL, 4, 6039, N'sss', N'sss', NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'<img alt="" src="/Uploads/65fea9ac-e1aa-4cdf-9356-11626b02909b.jpg" style="height:478px; width:850px" />', NULL, N'csharp-1-1-c0624383-d4f8-4172-9f68-eccdb7f512f5.jpg', 0, CAST(N'2022-04-25T15:10:48.000' AS DateTime), 0)
INSERT [dbo].[Record] ([Id], [SystemUserId], [LanguageId], [CategoryId], [Name], [RecordUrl], [Title], [MetaDescription], [MetaKeywords], [Url], [ShortContent], [Link], [TargetType], [ShortExplanation], [Explanation], [Image], [OrderNumber], [RecordDate], [IsActive]) VALUES (8016, NULL, 5, 6030, N'test', N'test', NULL, NULL, NULL, NULL, N'a', NULL, NULL, NULL, NULL, NULL, 0, CAST(N'2022-04-27T09:08:21.000' AS DateTime), 0)
INSERT [dbo].[Record] ([Id], [SystemUserId], [LanguageId], [CategoryId], [Name], [RecordUrl], [Title], [MetaDescription], [MetaKeywords], [Url], [ShortContent], [Link], [TargetType], [ShortExplanation], [Explanation], [Image], [OrderNumber], [RecordDate], [IsActive]) VALUES (8017, NULL, 4, 6046, N'Test', N'test', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'monthcalender-06d7a06a-dfd0-4359-acbc-9602ecf32b49.png', 0, CAST(N'2022-05-09T14:12:29.000' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Record] OFF
GO
SET IDENTITY_INSERT [dbo].[RecordFile] ON 

INSERT [dbo].[RecordFile] ([Id], [SystemUserId], [LanguageId], [RecordId], [Name], [ShortExplanation], [Explanation], [FileName], [FileTagName], [FileTitleName], [TargetId], [HomePageStatus], [OrderNumber], [RecordDate], [IsActive]) VALUES (1009, 0, 0, 1005, N'', NULL, NULL, N'5e43d3ebae298b0ffcf825b0.jpg', NULL, NULL, NULL, 0, 0, CAST(N'2021-10-17T14:19:09.153' AS DateTime), 0)
INSERT [dbo].[RecordFile] ([Id], [SystemUserId], [LanguageId], [RecordId], [Name], [ShortExplanation], [Explanation], [FileName], [FileTagName], [FileTitleName], [TargetId], [HomePageStatus], [OrderNumber], [RecordDate], [IsActive]) VALUES (1010, 0, 0, 1005, N'', NULL, NULL, N'1849872_620x410 - Kopya - Kopya.jpg', NULL, NULL, NULL, 0, 0, CAST(N'2021-10-17T14:19:09.183' AS DateTime), 0)
INSERT [dbo].[RecordFile] ([Id], [SystemUserId], [LanguageId], [RecordId], [Name], [ShortExplanation], [Explanation], [FileName], [FileTagName], [FileTitleName], [TargetId], [HomePageStatus], [OrderNumber], [RecordDate], [IsActive]) VALUES (1011, 0, 0, 1005, N'', NULL, NULL, N'1849872_620x410 - Kopya (2) - Kopya.jpg', NULL, NULL, NULL, 0, 0, CAST(N'2021-10-17T14:19:09.203' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[RecordFile] OFF
GO
SET IDENTITY_INSERT [dbo].[RecordImage] ON 

INSERT [dbo].[RecordImage] ([Id], [SystemUserId], [LanguageId], [RecordId], [Name], [ShortExplanation], [Explanation], [ImageName], [ImageTagName], [ImageTitleName], [TargetId], [HomePageStatus], [OrderNumber], [RecordDate], [IsActive]) VALUES (7077, 1, 1, 4005, N'h', NULL, NULL, N'6412b997-a173-490a-bb8e-d8b28fda6f2e.jpg', NULL, NULL, NULL, 0, 0, CAST(N'2021-10-20T21:26:16.027' AS DateTime), 0)
INSERT [dbo].[RecordImage] ([Id], [SystemUserId], [LanguageId], [RecordId], [Name], [ShortExplanation], [Explanation], [ImageName], [ImageTagName], [ImageTitleName], [TargetId], [HomePageStatus], [OrderNumber], [RecordDate], [IsActive]) VALUES (7078, 0, 0, 0, N'', NULL, NULL, N'959f7258-0974-4b18-8a51-fa47561d1ff1.jpg', NULL, NULL, NULL, 0, 0, CAST(N'2021-10-20T21:32:07.783' AS DateTime), 0)
INSERT [dbo].[RecordImage] ([Id], [SystemUserId], [LanguageId], [RecordId], [Name], [ShortExplanation], [Explanation], [ImageName], [ImageTagName], [ImageTitleName], [TargetId], [HomePageStatus], [OrderNumber], [RecordDate], [IsActive]) VALUES (7079, 0, 0, 0, N'', NULL, NULL, N'3f1fa79d-cf8a-4a64-90cc-55683fe4ad1b.jpg', NULL, NULL, NULL, 0, 0, CAST(N'2021-10-20T21:32:18.330' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[RecordImage] OFF
GO
SET IDENTITY_INSERT [dbo].[StaticText] ON 

INSERT [dbo].[StaticText] ([Id], [SystemUserId], [Name], [Explanation], [OrderNumber], [RecordDate], [IsActive]) VALUES (1, 1, N'1', N'1', 0, CAST(N'2021-10-12T18:31:48.407' AS DateTime), 0)
INSERT [dbo].[StaticText] ([Id], [SystemUserId], [Name], [Explanation], [OrderNumber], [RecordDate], [IsActive]) VALUES (2, 1, N'2', N'2', NULL, CAST(N'2022-05-09T14:24:10.673' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[StaticText] OFF
GO
SET IDENTITY_INSERT [dbo].[SystemAction] ON 

INSERT [dbo].[SystemAction] ([Id], [SystemMenuId], [ControllerName], [ActionName], [Description]) VALUES (1, 1, N'Banner', N'Index', N'Banner Listeleme Ekranı')
INSERT [dbo].[SystemAction] ([Id], [SystemMenuId], [ControllerName], [ActionName], [Description]) VALUES (2, 9, N'SystemUser', N'Index', N'Kullanıcı tanımlaırı listeleme')
INSERT [dbo].[SystemAction] ([Id], [SystemMenuId], [ControllerName], [ActionName], [Description]) VALUES (3, 6, N'Category', N'Index', N'Kategori Listeleme')
SET IDENTITY_INSERT [dbo].[SystemAction] OFF
GO
SET IDENTITY_INSERT [dbo].[SystemActionRole] ON 

INSERT [dbo].[SystemActionRole] ([Id], [SystemActionId], [SystemRoleId]) VALUES (3, 1, 2)
INSERT [dbo].[SystemActionRole] ([Id], [SystemActionId], [SystemRoleId]) VALUES (1002, 2, 2)
INSERT [dbo].[SystemActionRole] ([Id], [SystemActionId], [SystemRoleId]) VALUES (1003, 3, 2)
SET IDENTITY_INSERT [dbo].[SystemActionRole] OFF
GO
INSERT [dbo].[SystemMenu] ([Id], [SystemMenuId], [Name], [Explanation], [ControllerName], [ActionName], [RecordDate], [MenuIcon], [Link], [IsActive]) VALUES (1, 0, N'Ana sayfa', NULL, N'Home', N'Index', CAST(N'2021-10-12T17:02:05.533' AS DateTime), N'fas fa-bars', N'/Home/Index', 1)
INSERT [dbo].[SystemMenu] ([Id], [SystemMenuId], [Name], [Explanation], [ControllerName], [ActionName], [RecordDate], [MenuIcon], [Link], [IsActive]) VALUES (2, 3, N'Banner Tipleri', NULL, N'BannerType', N'Index', CAST(N'2021-10-12T17:03:05.573' AS DateTime), N'fa fa-adn', N'/BannerType/Index', 1)
INSERT [dbo].[SystemMenu] ([Id], [SystemMenuId], [Name], [Explanation], [ControllerName], [ActionName], [RecordDate], [MenuIcon], [Link], [IsActive]) VALUES (3, 0, N'Banner Yönetimi', NULL, N'', N'', CAST(N'2021-10-12T17:03:19.663' AS DateTime), N'fab fa-adversal', N'#', 1)
GO
SET IDENTITY_INSERT [dbo].[SystemMenuRole] ON 

INSERT [dbo].[SystemMenuRole] ([Id], [SystemRoleId], [SystemMenuId], [RecordDate]) VALUES (6, 2, 7, CAST(N'2021-10-22T18:44:26.917' AS DateTime))
INSERT [dbo].[SystemMenuRole] ([Id], [SystemRoleId], [SystemMenuId], [RecordDate]) VALUES (7, 2, 8, CAST(N'2021-10-22T18:44:35.500' AS DateTime))
INSERT [dbo].[SystemMenuRole] ([Id], [SystemRoleId], [SystemMenuId], [RecordDate]) VALUES (8, 2, 5, CAST(N'2021-10-22T18:44:39.677' AS DateTime))
SET IDENTITY_INSERT [dbo].[SystemMenuRole] OFF
GO
SET IDENTITY_INSERT [dbo].[SystemRole] ON 

INSERT [dbo].[SystemRole] ([Id], [Name], [Explanation], [RecordDate], [IsActive]) VALUES (2, N'Test', N's', CAST(N'2021-10-13T19:33:38.000' AS DateTime), 0)
INSERT [dbo].[SystemRole] ([Id], [Name], [Explanation], [RecordDate], [IsActive]) VALUES (3, N'Deneme255', N'd', CAST(N'2022-04-18T12:59:12.000' AS DateTime), 0)
INSERT [dbo].[SystemRole] ([Id], [Name], [Explanation], [RecordDate], [IsActive]) VALUES (4, N'Robin', N'6', CAST(N'2022-06-06T15:22:15.567' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[SystemRole] OFF
GO
SET IDENTITY_INSERT [dbo].[SystemUser] ON 

INSERT [dbo].[SystemUser] ([Id], [SystemUserId], [SystemRoleId], [Name], [SurName], [UserName], [Password], [Email], [Phone], [Address], [RecordDate], [IsActive], [IsAdmin]) VALUES (1, 0, 2, N'Erdoğan', N'KABA', N'erdogankb57@gmail.com', N'123456', N'erdogankb57@gmail.com', N'05318479796', N'Bağcan sok', CAST(N'2021-10-12T14:55:20.000' AS DateTime), 1, 1)
INSERT [dbo].[SystemUser] ([Id], [SystemUserId], [SystemRoleId], [Name], [SurName], [UserName], [Password], [Email], [Phone], [Address], [RecordDate], [IsActive], [IsAdmin]) VALUES (2, 0, 2, N'Test', N'Test', N'Test', N'Test', N'Test', N'Test', N'Test', CAST(N'2021-10-14T18:01:01.000' AS DateTime), 1, 0)
SET IDENTITY_INSERT [dbo].[SystemUser] OFF
GO
ALTER TABLE [dbo].[Banner] ADD  CONSTRAINT [DF_Banner_RecordDate]  DEFAULT (getdate()) FOR [RecordDate]
GO
ALTER TABLE [dbo].[Category] ADD  CONSTRAINT [DF_Category_CanBeDeleted]  DEFAULT ((1)) FOR [CanBeDeleted]
GO
ALTER TABLE [dbo].[Category] ADD  CONSTRAINT [DF_Category_CanSubCategoryBeAdded]  DEFAULT ((1)) FOR [CanSubCategoryBeAdded]
GO
ALTER TABLE [dbo].[Category] ADD  CONSTRAINT [DF_Category_OrderNumber]  DEFAULT ((0)) FOR [OrderNumber]
GO
ALTER TABLE [dbo].[Category] ADD  CONSTRAINT [DF_Category_RecordDate]  DEFAULT (getdate()) FOR [RecordDate]
GO
ALTER TABLE [dbo].[CategorySpecialty] ADD  CONSTRAINT [DF_CategorySpecialty_RecordDate]  DEFAULT (getdate()) FOR [RecordDate]
GO
ALTER TABLE [dbo].[ContactInformation] ADD  CONSTRAINT [DF_ContactInformation_RecordDate]  DEFAULT (getdate()) FOR [RecordDate]
GO
ALTER TABLE [dbo].[EditorTemplate] ADD  CONSTRAINT [DF_EditorTemplate_RecordDate]  DEFAULT (getdate()) FOR [RecordDate]
GO
ALTER TABLE [dbo].[FirmVariables] ADD  CONSTRAINT [DF_FirmVariables_RecordDate]  DEFAULT (getdate()) FOR [RecordDate]
GO
ALTER TABLE [dbo].[FormElement] ADD  CONSTRAINT [DF_FormElement_CategoryId]  DEFAULT ((0)) FOR [CategoryId]
GO
ALTER TABLE [dbo].[FormElement] ADD  CONSTRAINT [DF_FormElement_FormGroupId]  DEFAULT ((0)) FOR [FormGroupId]
GO
ALTER TABLE [dbo].[FormElement] ADD  CONSTRAINT [DF_FormElement_OrderNumber]  DEFAULT ((0)) FOR [OrderNumber]
GO
ALTER TABLE [dbo].[FormElement] ADD  CONSTRAINT [DF_FormElement_RecordDate]  DEFAULT (getdate()) FOR [RecordDate]
GO
ALTER TABLE [dbo].[FormElement] ADD  CONSTRAINT [DF_FormElement_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[FormElementOptions] ADD  CONSTRAINT [DF_FormOptions_RecordDate]  DEFAULT (getdate()) FOR [RecordDate]
GO
ALTER TABLE [dbo].[FormGroup] ADD  CONSTRAINT [DF_FormGroup_RecordDate]  DEFAULT (getdate()) FOR [RecordDate]
GO
ALTER TABLE [dbo].[FormType] ADD  CONSTRAINT [DF_FormType_RecordDate]  DEFAULT (getdate()) FOR [RecordDate]
GO
ALTER TABLE [dbo].[Language] ADD  CONSTRAINT [DF_Language_RecordDate]  DEFAULT (getdate()) FOR [RecordDate]
GO
ALTER TABLE [dbo].[LogMessage] ADD  CONSTRAINT [DF_LogMessage_RecordDate]  DEFAULT (getdate()) FOR [RecordDate]
GO
ALTER TABLE [dbo].[MessageHistory] ADD  CONSTRAINT [DF_MessageHistory_IsArchive]  DEFAULT ((1)) FOR [IsArchive]
GO
ALTER TABLE [dbo].[MessageHistory] ADD  CONSTRAINT [DF_MessageHistory_IsRead]  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[MessageHistory] ADD  CONSTRAINT [DF_MessageHistory_RecordDate]  DEFAULT (getdate()) FOR [RecordDate]
GO
ALTER TABLE [dbo].[MessageType] ADD  CONSTRAINT [DF_MessageType_RecordDate]  DEFAULT (getdate()) FOR [RecordDate]
GO
ALTER TABLE [dbo].[Record] ADD  CONSTRAINT [DF_Content_OrderNumber]  DEFAULT ((0)) FOR [OrderNumber]
GO
ALTER TABLE [dbo].[Record] ADD  CONSTRAINT [DF_Content_RecordDate]  DEFAULT (getdate()) FOR [RecordDate]
GO
ALTER TABLE [dbo].[RecordFile] ADD  CONSTRAINT [DF_ContentFile_OrderNumber]  DEFAULT ((0)) FOR [OrderNumber]
GO
ALTER TABLE [dbo].[RecordFile] ADD  CONSTRAINT [DF_ContentFile_RecordDate]  DEFAULT (getdate()) FOR [RecordDate]
GO
ALTER TABLE [dbo].[RecordFile] ADD  CONSTRAINT [DF_ContentFile_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[RecordImage] ADD  CONSTRAINT [DF_ContentImage_OrderNumber]  DEFAULT ((0)) FOR [OrderNumber]
GO
ALTER TABLE [dbo].[RecordImage] ADD  CONSTRAINT [DF_ContentImage_RecordDate]  DEFAULT (getdate()) FOR [RecordDate]
GO
ALTER TABLE [dbo].[RecordImage] ADD  CONSTRAINT [DF_ContentImage_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[RecordSpecialty] ADD  CONSTRAINT [DF_ContentSpecialty_RecordDate]  DEFAULT (getdate()) FOR [RecordDate]
GO
ALTER TABLE [dbo].[SEOIndex] ADD  CONSTRAINT [DF_SEOIndex_RecordDate]  DEFAULT (getdate()) FOR [RecordDate]
GO
ALTER TABLE [dbo].[StaticText] ADD  CONSTRAINT [DF_StaticText_RecordDate]  DEFAULT (getdate()) FOR [RecordDate]
GO
ALTER TABLE [dbo].[SystemMenu] ADD  CONSTRAINT [DF_SystemMenu_RecordDate]  DEFAULT (getdate()) FOR [RecordDate]
GO
ALTER TABLE [dbo].[SystemMenu] ADD  CONSTRAINT [DF_SystemMenu_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[SystemRole] ADD  CONSTRAINT [DF_SystemRole_RecordDate]  DEFAULT (getdate()) FOR [RecordDate]
GO
ALTER TABLE [dbo].[SystemRole] ADD  CONSTRAINT [DF_SystemRole_IsActive]  DEFAULT ((0)) FOR [IsActive]
GO
ALTER TABLE [dbo].[SystemUser] ADD  CONSTRAINT [DF_SystemUser_RecordDate]  DEFAULT (getdate()) FOR [RecordDate]
GO
ALTER TABLE [dbo].[SystemUser] ADD  CONSTRAINT [DF_SystemUser_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[SystemUserRole] ADD  CONSTRAINT [DF_SystemUserRole_RecordDate]  DEFAULT (getdate()) FOR [RecordDate]
GO
USE [master]
GO
