@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ModuleName = "Tanımlamalar";
    ViewBag.PageName = "Html Editör Tanımları";
}



<div class="form-content">
    <div class="listMessage">
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <a href="/EditorTemplate/Add" class="btn btn-standart">Yeni Tanım Ekle</a>

                <button type="button" id="deleteAllRecord" class="btn btn-standart" data-toggle="modal">
                    Seçilen kayıtları sil
                </button>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="table-responsive">
                <table id="dataTable" class="display" style="display:none;">
                    <thead>
                        <tr>
                            <th width="20"><input type="checkbox" name="select_all" value="1" id="example-select-all" style="margin: 0 0 0 -8px"></th>
                            <th width="20">Id</th>
                            <th>Adı</th>
                            <th width="120">İşlemler</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th width="20"></th>
                            <th>Id</th>
                            <th>Adı</th>
                            <th>İşlemler</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>


@section scripts{
<script src="~/js/controller/editortemplate.js"></script>
}